<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <connectionStrings>
    <add connectionString="DATA SOURCE=localhost:1521/XE;USER ID=CESFAM; PASSWORD=cesfam" name="CESFAM.XE"/>
  </connectionStrings>

  <system.web>

    <authentication mode="Windows"/>
    
    <!--<authentication mode="Forms">
      <forms name="miFormulario" loginUrl="Login.aspx" defaultUrl="Home.aspx" protection="All" />
    </authentication>

    <authorization>      
      <allow users = "*" />
    </authorization>-->
    
  </system.web>  

</configuration>
