<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="farmaciaEntities" connectionString="metadata=res://*/modeloFarmacia.csdl|res://*/modeloFarmacia.ssdl|res://*/modeloFarmacia.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=localhost:1521/XE;PASSWORD=cesfam;PERSIST SECURITY INFO=True;USER ID=CESFAM&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>